In [1]:
import pandas as pd

In [2]:
import numpy as np

In [6]:
chipo = pd.read_csv(r"C:\Users\ilayn\OneDrive\Documents\DI-Bootcamp\week5\day2\chipotle.tsv", sep='\t')

In [8]:
first_10_rows = chipo.head(10)
print(first_10_rows)

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

In [9]:
total_entries = chipo.shape[0]
print(total_entries)

4622

In [10]:
total_columns = chipo.shape[1]
print(total_columns)

5

In [11]:
column_names = chipo.columns.tolist()
print(column_names)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [12]:
dataframe_index = chipo.index
print(dataframe_index)

RangeIndex(start=0, stop=4622, step=1)

In [13]:
most_ordered_item = chipo['item_name'].value_counts().idxmax()
print(most_ordered_item)

Chicken Bowl

In [14]:
total_items_ordered = chipo['quantity'].sum()

In [15]:
most_ordered_choice = chipo['choice_description'].value_counts().idxmax()
print(most_ordered_choice)

[Diet Coke]

In [16]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$', '')))

In [17]:
total_revenue = chipo['item_price'].sum()
print(total_revenue)

34500.16

In [18]:
total_orders = chipo['order_id'].nunique()
print(total_orders)

1834

In [19]:
average_order_value = total_revenue / total_orders

In [20]:
unique_items_sold = chipo['item_name'].nunique()
print(unique_items_sold)

50

In [26]:
chipo = pd.read_csv(r"C:\Users\ilayn\OneDrive\Documents\DI-Bootcamp\week5\day2\chipotle.tsv", sep='\t')
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$', '')))
products_over_10 = chipo[chipo['item_price'] > 10].shape[0]
print("products that cost more than $10 :", products_over_10)

products that cost more than $10 : 1130

EX3

In [27]:
import pandas as pd

In [29]:
file_path = r"C:\Users\ilayn\OneDrive\Documents\DI-Bootcamp\week5\day2\u.user"
users = pd.read_csv(file_path, sep='|')

In [30]:
mean_age_per_occupation = users.groupby('occupation')['age'].mean()
print(mean_age_per_occupation)

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [31]:
data1 = pd.DataFrame({
    'ID': [1, 2, 3, 4, 5],
    'Name': ['Holly', 'Sarah', 'Charles', 'Franck', 'Eva']
})

data2 = pd.DataFrame({
    'ID': [6, 7, 8, 9, 10],
    'Name': ['Gerard', 'Yves', 'Hannah', 'James', 'Jules']
})

data3 = pd.DataFrame({
    'ID': [1, 2, 3, 4, 5],
    'Score': [88, 92, 75, 85, 90]
})
all_data = pd.concat([data1, data2], ignore_index=True)
all_data_col = pd.concat([data1, data2], axis=1)
print("Merged along rows (all_data):")
print(all_data)
print("\nMerged along columns (all_data_col):")
print(all_data_col)

Merged along rows (all_data):
   ID     Name
0   1    Holly
1   2    Sarah
2   3  Charles
3   4   Franck
4   5      Eva
5   6   Gerard
6   7     Yves
7   8   Hannah
8   9    James
9  10    Jules

Merged along columns (all_data_col):
   ID     Name  ID    Name
0   1    Holly   6  Gerard
1   2    Sarah   7    Yves
2   3  Charles   8  Hannah
3   4   Franck   9   James
4   5      Eva  10   Jules

EXERCICE 5

In [32]:
import pandas as pd

In [34]:
file_path = r"C:\Users\ilayn\OneDrive\Documents\DI-Bootcamp\week5\day2\iris.data"
iris = pd.read_csv(file_path, header=None)

In [35]:
iris.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
missing_values = iris.isnull().sum()
print(missing_values)

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

EXERCICE 6

In [36]:
import pandas as pd

In [37]:
pokemon_dict = {
    'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp': [45, 39, 44, 45],
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex': ['yes', 'no', 'yes', 'no'],
    'type': ['grass', 'fire', 'water', 'bug']
}
pokemon = pd.DataFrame(pokemon_dict)
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]
print(pokemon)

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

EXERCICE 7

In [38]:
import pandas as pd

In [39]:
file_path = r"C:\Users\ilayn\OneDrive\Documents\DI-Bootcamp\week5\day2\US_Baby_Names_right.txt"
baby_names = pd.read_csv(file_path)

In [40]:
print("First 10 entries in baby_names:")
print(baby_names.head(10))

First 10 entries in baby_names:
   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

In [41]:
baby_names = baby_names.drop(columns=['Unnamed: 0', 'Id'])
print("\nbaby_names after removing 'Unnamed: 0' and 'Id' columns:")
print(baby_names.head())

baby_names after removing 'Unnamed: 0' and 'Id' columns:
      Name  Year Gender State  Count
0     Emma  2004      F    AK     62
1  Madison  2004      F    AK     48
2   Hannah  2004      F    AK     46
3    Grace  2004      F    AK     44
4    Emily  2004      F    AK     41

EXERCICE 8

In [42]:
import pandas as pd

In [43]:
temperature = [30, 31, 29, 32, 33, 34, 28, 27, 25, 35]
humidity = [80, 75, 70, 85, 90, 80, 75, 60, 65, 70]
wind_speed = [5, 6, 7, 8, 9, 4, 10, 5, 6, 7]
date_rng = pd.date_range(start='2021-01-01', end='2021-01-10', freq='D')
weather_data = pd.DataFrame({
    'Date': date_rng,
    'Temperature': temperature,
    'Humidity': humidity,
    'Wind_Speed': wind_speed
})
frequency = pd.infer_freq(weather_data['Date'])
frequency_message = f"The frequency of the dataset is {frequency}."
weather_data.set_index('Date', inplace=True)
print(frequency_message)
print(weather_data.head())

The frequency of the dataset is D.
            Temperature  Humidity  Wind_Speed
Date
2021-01-01           30        80           5
2021-01-02           31        75           6
2021-01-03           29        70           7
2021-01-04           32        85           8
2021-01-05           33        90           9